[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
pymysql = "*"
passlib = "*"
bcrypt = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"] }
psycopg2-binary = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.12"
