{% include 'layout.html' %}

    <div class="container">
        <div class="card">
            <div class="card-header">
                Change password
            </div>
            <div class="card-body">
                
                {% if msg %}
                <div class="alert alert-danger" role="alert">
                    {{ msg }}
                </div>
                {% endif %}
                
                <form method="POST">
                    <div class="form_group">
                        <label>password</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <div class="form-group">
                        <label>new password</label>
                        <input type="password" class="form-control" name="new_password" required>
                    </div>
                    <div class="form-group">
                        <label>confirm password</label>
                        <input type="password" class="form-control" name="confirm_password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">submit</button>
                </form>
            </div>
        </div>
    </div>